<!DOCTYPE html>
<html lang="en-US" dir="ltr" ng-app="rating">
    <head>
        <title>Reviews with Partial Star Rating</title>
        <meta charset="UTF-8" />
        <meta name="description" content="Reviews with Partial Star Rating using AngularJS" />
        <meta name="keywords" content="reviews, angularjs, partial star rating" />
        <meta name="author" content="Miroslav Georgiev" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- START Stylesheet Declaration -->
        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/common.css" media="all" />
        <link rel="stylesheet" href="css/print.css" media="print" />
        <!-- END Stylesheet Declaration -->
    </head>
    <body ng-controller="PageCtrl">
        <h2>Reviews</h2>
        <main ng-cloak>
            <div id="reviews" class="reviews">
                <div class="review" ng-repeat="review in reviews | filter:filters | orderBy:'date':true | limitTo: limit" itemscope>
                    <div class="rating">
                        <div class="stars" data-rating="{{review.rating}}" star-class="stars" filling>
                            <ul>
                                <li ng-repeat="star in starArr"><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            </ul>
                            <ul class="stars-selected" ng-style="{'width': setWidth + '%'}">
                                <li ng-repeat="star in starArr"><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            </ul>
                        </div>
                        <time itemprop="date" datetime="{{review.date}}">{{review.date | date:'MMMM d, yyyy'}}</time>
                    </div>
                    <h4>{{review.title}}</h4>
                    <p>{{review.body}}</p>
                    <div class="author">-<a href="#">&nbsp;<span itemprop="name">{{review.author}}</span></a></div>
                </div>
            </div>
        </main>
        <aside ng-cloak>
            <h3>{{reviews.length}} Customer Reviews</h3>
            <div>
                <h4 class="sectionHead">
                    <div class="stars" data-rating="{{averageRating}}" star-class="stars" filling>
                        <ul>
                            <li ng-repeat="star in starArr"><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        </ul>
                        <ul class="stars-selected" ng-style="{'width': setWidth +'%'}">
                            <li ng-repeat="star in starArr"><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        </ul>
                    </div>
                    {{averageRating}} Average
                </h4>
                <div class="votesPerStar" ng-repeat="star in starArr">
                    <label>{{star}} stars</label>
                    <div class="progress"><div class="progress-bar progress-bar-grey" role="progressbar" aria-valuenow="{{(starsObj[star]/maxVotes)*100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': (starsObj[star]/maxVotes)*100 + '%'}"></div></div>
                    <span>({{starsObj[star]}})</span>
                </div>
            </div>
            <div class="btn-group" ng-show="filters">
                <div class="alert alert-warning alert-dismissible" role="alert"  ng-repeat="(key, value) in filters">
                    <button type="button" class="close" data-dismiss="alert" ng-click="removeFilter(key, value);">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{value}}
                </div>
            </div>
            <div>
                <h4 class="sectionHead">Filter By Website:</h4>
                <div class="filtering" ng-repeat="(key, value) in sourceObj"><a ng-click="filters.sourcename = key; setVisibleItems(value);">{{key}}</a> ({{value}})</div>
            </div>
            <div>
                <h4 class="sectionHead">Filter By Number of Stars:</h4>
                <div class="filtering" ng-repeat="star in starArr"><a ng-click="filters.rating = star; setVisibleItems(starsObj[star]);">{{star}} stars</a> ({{starsObj[star]}})</div>
            </div>
            <a ng-click="filters = {}; setVisibleItems(len);" class="showAll">Show All Reviews</a><br />
            <a ng-click="filters = {}; limit = defaultLimit;">clear filters</a>
        </aside>

        <!-- START JavaScript Declaration -->
        <script src="libs//jquery/jquery-1.11.1.min.js"></script>
        <script src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="libs/angularjs/angular.min.js"></script>
        <script src="js/common.js"></script>
        <!-- END JavaScript Declaration -->
    </body>
</html>